<!DOCTYPE html>
<html>
    <head>
        <title>Dormserv Calendar</title>
    </head>

    <body>
        {% csrf_token %}

        {% if user.is_authenticated %}
        <a href="/welcome/">Restricted Page</a><br />
        <a href="/logout/">Logout</a><br />
        {% else %}
        <a href="/register/">Register Here</a><br />
        <a href="/login/">Login</a><br />
        {% endif %}

        <table border='1'>
            <tr>
            <td><p>Monday</p></td>
            {% for deliv in mon %}
                {% if deliv.is_active %}
                <td><a href="#"> {{deliv.display_time}} </a></td>
                {% else %}
                <td>{{deliv.display_time}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        <table>
    </body>
</html>