<!DOCTYPE html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'cal/css/dormserv.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'cal/css/bootstrap.css' %}"/>


<html>
    <head>
        <title>Dormserv Calendar</title>
    </head>

    {% include 'head.html' %}
    
    <div id="wrap">
        <!--
        <div id="nav">
            <a href="/">
                <div class="imagewrapper">
                    <img src="{% static "cal/images/12.png" %}" alt="dormserv"/>
                </div>
            </a>
        </div>
        !-->

    <body>
        {% csrf_token %}

        {% if user.is_authenticated %}
        {% else %}
        <a href="/register/">Register Here</a><br />
        <a href="/login/">Login</a><br />
        {% endif %}

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            <span class="sr-only">25% Complete</span>
          </div>
        </div>


        <div id = "cal_head">
            <div id = "cal_head_top">
                <h1>Morning, {{ current_user.first_name }}.</h1>
            </div>
            <div id = "cal_head_bottom">
            <h2>When do you want your breakfast?</h2>
            </div>
        </div>

        <table border='1' cellspacing='2' cellpadding='1'>
            <tr>
                <td><center><p><h5><b>Monday, {{ date_tuple.0 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Tuesday, {{ date_tuple.1 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Wednesday, {{ date_tuple.2 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Thursday, {{ date_tuple.3 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Friday, {{ date_tuple.4 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Saturday, {{ date_tuple.5 }}</b></h5></p></center></td>
                <td><center><p><h5><b>Sunday, {{ date_tuple.6 }}</b></h5></p></center></td>
            </tr>
            <tr>
            <tr>
                <td>
                    {% for deliv in mon %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }}- {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% for deliv in tue %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }} </a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {% for deliv in wed %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
               <td>
                    {% for deliv in thurs %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
               <td>
                    {% for deliv in fri %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
               <td>
                    {% for deliv in sat %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
               <td>
                    {% for deliv in sun %}
                    <br>
                        <div id = "deliv_slot">
                        {% if deliv.is_active %}
                        <center><a href="{{ deliv.id }}">{{ deliv.display_time }} - {{ deliv.fifteen_over }}</a></center>
                        {% else %}
                        <center>{{ deliv.display_time }} - {{ deliv.fifteen_over }}</center>
                        {% endif %}
                        </div>
                    {% endfor %}
                </td>
        </table>
    </div>
    </body>
</html>